.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    background-color:rgb(27, 92, 122);
}
.search__title{
    color: white;
    font-size: 15px;
}

.form {
  width: 70%;
}

.input {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 85%;
  }
  
  ::placeholder {
    color: white;
  }

.btn {
  margin-left: 20px;
}